@keyframes repos-loader-fadein {
   0% { opacity: 1; }
   50% { opacity: 0.3; }
   100% { opacity: 1; }
}

.App {
  background-image: linear-gradient(white,rgba(0,0,0,.1));
  text-align: center;
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  grid-gap: 20px;
  min-height: 100vh;
}

.App-header {
  grid-column: 1 / 13;
  grid-row: 1;
  background-color: #222;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.search-user__label, .sort-results__label {
  margin-right: 10px;
}

.repos-list {
  grid-column: 1 / 13;
  grid-row: 3;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  grid-auto-rows: minmax(100px, auto);
  padding: 0;
}

.repos-loader {
  font-size: 2rem;
  grid-column: 1 / 13;
  grid-row: 3;
  animation: repos-loader-fadein infinite 1s;
  display: none;
}

.repos-list-item {
  list-style-type: none;
  border: 1px solid rgba(0,0,0,.3);
  box-shadow: 1px 1px 2px rgba(100,100,100,.3);
  width: 200px;
  height: 150px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgba(255,255,255,0.5);
}
.repos-list-item__link, .repos-list-item__stars {
  flex: 1;
}

.repos-list-item__stars {
  background-repeat: no-repeat;
  background-image: url('./star.svg');
  background-position: 70px -1px;
}

.search-user {
  grid-column: 1 / 7;
  grid-row: 2;
}

.sort-results {
  grid-column: 7 / 13;
  grid-row: 2;
}